{
  "importOrder": [
    "<BUILTIN_MODULES>",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@immich/(.*)$",
    "",
    "^\\$app/(.*)$",
    "^\\$lib/(.*)$",
    "^\\$tests/(.*)$",
    "^@test-data(.*)$",
    "^\\$i18n$",
    "",
    "^[.]"
  ],
  "jsonRecursiveSort": true,
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-svelte", "prettier-plugin-sort-json"],
  "printWidth": 120,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all"
}
